footer {
    background-color: var(--colorPoliChef);
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 400px;
}

.footer {
    width: var(--maxWidth);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ----------------------------------------- */
/*                 IZQUIERDA                 */
/* ----------------------------------------- */

.footer .leftFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer .leftFooter img {
    width: 6.7rem;
}

.footer .leftFooter p {
    font-family: var(--fontFamilyPolichefLogo);
    font-weight: var(--fontWeightLogo);
    font-size: 5rem;
}

/* ------------------------------------------ */
/*                   DERECHA                  */
/* ------------------------------------------ */

.footer .rightFooter {
    width: 50%;;
}

.footer .rightFooter ul{
    list-style-type: none;

    display: flex;
    justify-content: space-between;

    font-size: var(--fontSizeSubtitle);
}