<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global/styles.css">
    <link rel="stylesheet" href="../static/css/global/header.css">
    <link rel="stylesheet" href="../static/css/global/footer.css">
    <link rel="stylesheet" href="../static/css/pages/loginRegister.css">
    <link rel="shortcut icon" href="../static/img/logo/flame-polichef-red.svg" type="image/x-icon">
    <title>Polichef</title>
</head>
<body>
    <main>
        <form class="main">
            <div class="photo">
                <img src="../static/img/web/other/loginRegister.jpg" alt="photo user">
            </div>
            <div class="info">
                <div class="titleInfo">
                    <h1>¡Bienvenido otra vez,<br>
                    nos alegra tenerte de nuevo!</h1>
                    <p>Ingresa tus datos y disfruta de beneficios</p>
                </div>
                <div class="inputs">
                    <input type="email" id="email" placeholder="Email" required autocomplete="email">
                    <input type="password" id="password" placeholder="Contraseña" required autocomplete="current-password">
                </div>
                <button type="submit" class="button">Ingresar</button>
                <!-- <a href="#" class="forgotPassword">Olvidé mi contraseña</a> -->
                <p class="ytc">
                    ¿No tienes cuenta? <a href="register.html">Regístrate aquí</a>
                </p>
            </div>
        </form>
    </main>
    <script src="../static/js/login.js"></script>
</body>
</html>